body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: black;
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
}

#title {
	color: red;
}

#lyrics {
	color: black;
}

h3 {
	color: red;
	font-weight: bold;
}